.all-tags{
	padding: 0;
	display: flex;
	margin: 0 -2px;
	flex-wrap: wrap;
	font-size: 15px;
	line-height: 1.2;
	list-style: none;
	align-items: stretch;
	justify-content: flex-start;
	@include breakpoint($mobile-small) {
		margin-left: -5px;
		margin-right: -5px;
	}
	> li{
		height: 51px;
		margin: 0 0 4px;
		padding: 0 2px;
		width: 14.2857%;
		white-space: normal;
		@include breakpoint($tablet) {
			width: 150px;
		}
		@include breakpoint($mobile-small) {
			width: 50%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	a{
		color: #000;
		display: flex;
		min-height: 51px;
		border-radius: 4px;
		padding: 0 4px 0 0;
		align-items: stretch;
		word-break: break-word;
		justify-content: flex-start;
		border: 1px solid rgba(#c0c0c0,.74);
		transition: box-shadow .35s ease, transform .35s ease;
		&:hover{
			text-decoration: none;
			transform: translateY(-2px);
		}
		.visual{
			width: 48px;
			flex-shrink: 0;
			margin: 0 8px 0 0;
			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}
		}
		.text{
			display: block;
			padding: 4px 0;
			align-self: center;
		}
	}
}