{% load static i18n %}
<script>
    $(function () {
        $('.lazy').Lazy();
    });
</script>
<strong class="h2">{{ title }} <a href="#" id="clear-session" data-action="{{ action }}">({% trans 'Clear list' %})</a></strong>
<ul class="games-list">
    {% for obj in objects %}
        {% include 'catalog/inclusions/_include_game_list.html' %}
    {% endfor %}
</ul>
