{% extends 'catalog/base.html' %}

{% load static i18n catalog_tags humanize %}

{% block meta_title %}
    <title>404</title>
{% endblock %}

{% block default_section %}
    <div class="container">
        <div class="clear">
            <div class="clear-content">
                <ul class="breadcrumbs">
                    <li><a href="{{ scheme }}://{{ request.get_host }}/{{ request.LANGUAGE_CODE }}/">FreeGamesBoom</a></li>
                    <li>404</li>
                </ul>
                <div class="main-preview-game">
                    <h1>{% trans '404 Error' %}</h1>
                    <p>{% trans 'Oops. This page does not exist.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}