<strong class="h2">Favourite games</strong>
<ul class="games-list">
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="visual"><img src="images/game-1.jpg" alt="image description"></span>
			<span class="text">8 Ball Pool</span>
		</a>
	</li>
</ul>